.card {
   margin: 55px; 
   text-align: center;
}
.btn-primary {
    margin-left: 20px;
    margin-right: 20px
}
.profilepic {
    height: 258px;
    width: 258px;
    margin-right: 50px;
    margin-left: 175px;
}
.about-me{
    
    text-align: center;
}

.abt-me-box {
    background: rgb(226, 226, 226);
    margin: auto;
}
